.Svg {
  flex: 1 1 100%;
}
.Svg .scroll-node {
  overflow: auto;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.Svg .scroll-node:active {
  cursor: move;
}
.Svg .img-wrapper {
  position: absolute;
}
.Svg img,
.Svg svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
