.Toolbar {
  background: #333;
  padding: 0 10px;
  flex: 0 0 60px; }
  .Toolbar input {
    width: 75px; }
  .Toolbar .field label {
    font-size: 11px;
    color: #aaa;
    display: block;
    margin-bottom: 3px;
    text-transform: uppercase; }
  .Toolbar button.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px; }

.Toolbar button + button,
.Toolbar .field {
  margin-left: 10px; }

.Toolbar select {
  margin-left: 10px; }
