* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  @media (max-width: 950px) {
    font-size: 16px;
  }
}

a {
  color: #00b7ff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-main {
  flex: 1 1 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.spc-between {
  justify-content: space-between;
}

button,
input {
  appearance: none;
  border-radius: 0;
  padding: 9px 12px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 13px;
}
button {
  border: 1px solid #1c92d2;
  background: #1c92d2;
  color: #eee;
  cursor: pointer;
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
  &.large {
    font-size: 16px;
    padding: 12px 25px;
  }
  &.link {
    color: #00b7ff;
    padding: 0;
    border: none;
    background: none;
    margin-left: 3px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #00a7ef;
      background: none;
      border: none;
    }
  }
  &:active {
    background: #005aa7;
    border: 1px solid #005aa7;
  }
}
button.action, a.action {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
input {
  border: 1px solid #eee;
  background: #fff;
}
select,
option {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 13px;
}
select {
  appearance: none;
  padding: 9px 20px 9px 8px;
  background: #1c92d2;
  background-image: url('./assets/triangle.svg');
  background-size: 8px;
  background-position: 92% center;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #eee;
  &:active {
    background: #005aa7;
  }
}
*:focus {
  outline: none;
  border-color: #aaf;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
