* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-main {
  flex: 1 1 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.spc-between {
  justify-content: space-between;
}

.content {
  padding: 40px;
}

button,
input {
  appearance: none;
  border: 1px solid #eee;
  background: #fff;
  padding: 9px 12px;
  font-family: sans-serif;
  font-size: 12px;
}
