.App {
  height: 100vh;
}
.App-header {
  background-color: #222;
  flex: 0 0 55px;
  padding: 0 20px;
  color: #f5f5f5;
}
.App-header .logo {
  margin-right: 25px;
}
.App .username-wrapper {
  margin-left: 25px;
}
.App .username {
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.App .username:hover {
  color: #fff;
}
.App .username-wrapper input {
  width: 250px;
}
