.Header {
  background-color: #222;
  flex: 0 0 55px;
  color: #f5f5f5;
  .back {
    height: 100%;
    flex: 0 0 55px;
    background: #333;
    &:hover {
      background: #444;
    }
    a {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .logo {
    margin-left: 20px;
  }
  .username-wrapper {
    margin-left: 35px;
  }
  .username {
    transition: all 100ms ease-in-out;
    cursor: pointer;
    border-top: 1px solid #0000;
    border-bottom: 1px dotted #eee;
  }
  .username:hover {
    color: #fff;
  }
  .username-wrapper input {
    width: 250px;
  }
  .color-wrapper {
    margin-left: 35px;
  }
  .color {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
  }
  .right {
    display: flex;
    flex: 0 0 105px;
    margin-right: 10px;
  }
  &.mobile {
    padding-right: 10px;
    .logo {
      font-size: 17px;
    }
  }
  .chat {
    margin-right: 10px;
    img {
      position: relative;
      top: 4px;
      width: 37px;
      height: 37px;
    }
  }
}

.ActionSheet_Header {
  padding: 20px;
  &>* {
    margin-bottom: 20px;
  }
  .color {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
  }
  .username-wrapper {
    height: 35px;
    display: flex;
    align-items: center;
    input {
      margin-left: 10px;
      width: 250px;
    }
  }
  .username {
    cursor: pointer;
    margin-left: 10px;
    border-top: 1px solid #0000;
    border-bottom: 1px dotted #555;
  }
  .color-wrapper {
    height: 35px;
  }
}

.ActionSheet_Header_Chat {
  height: calc(100% - 50px);
  .Chat {
    height: 100%;
  }
}