.dot {
  outline: 1px solid #000;
}
.dot-1 { cursor: nwse-resize; }
.dot-2 { cursor: ns-resize; }
.dot-3 { cursor: nesw-resize; }
.dot-4 { cursor: ew-resize; }
.dot-5 { cursor: nwse-resize; }
.dot-6 { cursor: ns-resize; }
.dot-7 { cursor: nesw-resize; }
.dot-8 { cursor: ew-resize; }
