.Chat {
  flex: 0 0 350px;
  background: #fcfcfc;
}
.Chat ul {
  list-style: none;
  margin: 0;
  padding: 15px;
  overflow-y: auto;
}
.Chat li {
  margin: 0;
  padding: 12px;
  background: #eef;
  border-radius: 5px;
}
.Chat li + li {
  margin-top: 15px;
}
.Chat .info {
  font-size: 80%;
  color: #aaa;
  margin-top: 10px;
}
.Chat button {
  border-left: none;
}
