.Home {
  min-height: 100vh;
  display: flex;
  color: #ccc;
  background: #005aa7;
  .logo {
    border: 1px solid #eee;
    padding-right: 15px;
  }
  & > .content {
    padding: 40px 40px 80px;
    position: relative;
    h1 {
      color: #eee;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 30px;
      .draw {
        width: 50px;
        height: 50px;
        position: relative;
        top: 3px;
      }
      .chat {
        width: 40px;
        height: 40px;
        position: relative;
        top: 3px;
        left: 7px;
      }
      .name {
        margin-left: 40px;
      }
      @media (max-width: 1000px) {
        font-size: 27px;
      }
    }
  }
  .form {
    background: #f2fcfe;
  }
  h2 {
    font-weight: 400;
    font-size: 20px;
  }
  h3 {
    margin-top: 50px;
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  footer {
    position: absolute;
    bottom: 30px;
    font-size: 13px;
  }
  @media (max-width: 950px) {
    display: block;
    & > .content {
      padding: 20px;
      h1 {
        margin: 0;
        padding: 0;
      }
    }
    .form {
      background: #0000;
      padding: 75px 0 200px;
    }
    footer {
      bottom: -280px;
    }
  }
  @media (max-width: 450px) {
    display: block;
    & > .content {
      h1 {
        flex-direction: column;
        .name {
          margin: 40px 0;
        }
      }
    }
    h2 {
      text-align: center;
    }
  }
}
