.Home {
  min-height: 100vh;
  display: flex;
  color: #ccc;
  background: #005aa7; }
  .Home > .content {
    padding: 40px; }
    .Home > .content h1 {
      color: #eee; }
  .Home .form {
    background: #f2fcfe; }
  .Home h2 {
    font-weight: 400;
    font-size: 17px; }
  .Home h3 {
    margin-top: 50px; }
  @media (max-width: 768px) {
    .Home {
      display: block; }
      .Home > .content {
        padding: 20px; }
        .Home > .content h1 {
          margin: 0;
          padding: 0; }
      .Home .form {
        background: #0000; } }
